* {
    font-family: sans-serif;
    font-size: 10pt;
}
.output {
    background: #f8f8f8;
    font-family: monospace;
    white-space: pre;
    overflow: auto;
    padding: 0.1em 0.2em;
}
#sections ul.section {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sections h4 {
    margin: 0;
    padding: 0.25em 7em 0.2em 2.4em;
    color: #fff;
    background: #888;
}
#sections li.passed>h4 {
    background: #6a6;
}
#sections li.failed>h4 {
    background: #c55;
}
#sections h4 span.toggle {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 15px;
    line-height: 15px;
    background:#eee;
    color: #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
}
#sections li h4 span.toggle:before {
    content: "-";
    font-weight: bold;
}
#sections li.collapsed h4 span.toggle:before {
    content: "+";
}
#sections h5.loop-data {
    margin: 1em 0 0;
    border-bottom: 1px solid #888;
}
#sections h5.loop-data span {
    margin: 0 1em 0 0;
    padding: 0.1em 0.5em;
    background: #888;
    color: #fff;
}
#sections .image.link h5 {
    display: inline-block;
    padding: 0.1em 0.5em;
    color: #fff;
    margin: 0;
    background: #888;
}
#sections .screenshot,
#sections .template {
    margin: 1em 0;
    width: 50%
}
#sections .screenshot {
    float: left;
}
#sections .template {
    float: right;
}
#sections .screenshot img,
#sections .template img {
    border: 1px solid #ccc;
    width: 99%
}
#sections p,
#sections .description,
#sections .error,
#sections .output {
    clear: both;
}
#sections ul.section li {
    border: 1px solid #ccc;
    border-bottom: none;
    border-right: none;
    margin: 2px 0 0.25em;
    position: relative;
}
#sections li ul.section {
    padding: 2px 0 2px 24px;
}
#sections li .report {
    padding: 2px 0 2px 0.45em;
}
#sections li.collapsed .report {
    display: none;
}
#sections li .report .error {
    color: #800;
}
#sections li .report .error .message pre {
    font-family: monospace;
}
#sections ul.section li .result {
    position: absolute;
    top: 0.2em;
    right: 0.25em;
}
#sections ul.section li .result .label {
    display: none;
}
#sections ul.section li .result>div {
    display: block;
    width: 3em;
    text-align: right;
}
#sections ul.section li .result .value {
    padding: 0.1em 0.5em;
}
#sections ul.section li .result .success {
    background: #8f8;
    color: #080;
    float: left;
}
#sections ul.section li .result .failure {
    background: #f88;
    color: #800;
    float: right;
}
#colorbox {
    padding: 4px 4px 25px 4px;
    background: #666;
}
#colorbox #cboxTitle {
    padding: 0 20px 0 8px;
    float: left;
    width: 60%;
}
#colorbox #cboxTitle,
#colorbox #cboxCurrent {
    line-height: 25px;
    color: #eee;
}
